
 footer {
     font-family: 'PT Sans', Lucida Sans, san-serif;
     background: black;
     color: white;
     font-size: 14px;
     line-height: 1.67em;
}
 
 #footer-sitemap ul {
     list-style-type: none;

 }

 #footer-sitemap li a, #footer-sitemap li li a {
     color: white;
 }


  #footer-sitemap li a:hover, #footer-sitemap li li a:hover {
    color: azure;
    background: grey;
 }


.sitemap-header {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 3em;
}