@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap');
sss:root {
	--this-page-number: 1;
}
* {
	font-family: 'PT Sans', sans-serif;
}
h1 {
    font-family: 'PT Serif', serif;
    font-size: 1.6rem;
    color: red;
    line-height: 1.67rem;
    margin-top: 2rem;
    text-shadow: 1px 1px gray;
}

/* Boostrap4 Component Navbar */ 
#pageheader {
    display: block;
    clear: both;
    background-color: white;
    min-height: 100px;
    max-height: 30vh
}



/* @media screen and (orientation: landscape) {
    #pageheader > nav > div > a > background-img { max-width:100%; height:auto}
    nav > div > a > img {width:30%; height:30%} */

/* To move the main content lower as not to be covered by the header */

main {
	margin-top: 176px;
	/* include the bordes and margins of the navbar fixed top */
}

#pagemain {
    margin-top: 176px !important;
    }

#pagemain .container {
    border: 1px solid black !important;
    margin: 5px !important; 
    }


/* Boostrap4 Component Jumbotron /*

/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	.jumbotron {
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("/images/herobackground1920x1080.jpg");
		/* Set a specific height */
		height: 50%;
		/* Position and center the image to scale nicely on all screens */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 500px;
	}
	/* Place text in the middle of the image */
	.hero-text {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
	}
	
/* Style for testimonial section of the home page */

    #testimonials .card-text {
        font-family: "PT Serif", Serif;
        font-style: italic;
        text-align: center;
    }
    #testimonials .card-text {
        quotes: "“" "”" "‘" "’"";

    }
    #testimonials .card-text:before {
        content: open-quote;
    }
    #testimonials .card-text:after {
        content: close-quote;
    }
    #testimonials .card-text:before, .card-body+.testimonials:after {
        color: purple;
    }
    #testimonials .cite {
        font-family: "PT Sans", sans-serif;
        font-style: normal;
        text-align: right;
        color: gray;
        display: block;
    }


    #pagefooter {
            margin-top: 2rem;
            margin-bottom: 2rem; 
    }


    #pagenavigation>ul>li>.page-link{
        border: 0px solid white;
    }


	#pagefootermiddle {
		font-family: 'PT Sans', san-serif;
		background-color: #8AAFFF;
		color: white;
        padding-top: 1em;
        padding-bottom: 1em;
	}

    #pagefootmiddle.row {
        margin-bottom: 2em;
    }

    .contactitem {

        margin: 0px;
        padding: 0px;
        min-width: 400px;
    }

    .contactitem>i {
        background-color: white;
        color: #8AAFFF;
        min-width: 40px;
        line-height: 2rem;
        text-align: center;
        margin-right: 2px;
    }

    my-email::after {
        content: attr(data-domain);
    }
    my-email::before {
        content: attr(data-user);
    }

    my-contact::after {
        content: attr(number-domain);
    }
    my-contact::before {
        content: attr(number-user);
    }



	#footer-sitemap  {
		font-family: 'PT Sans', san-serif;


	}
	#footer-sitemap ul {
		list-style-type: none;
	}
	#footer-sitemap li a, #footer-sitemap li li a {
		color: #8AAFFF;
	}
	#footer-sitemap li a:hover, #footer-sitemap li li a:hover {
		color: azure;
		background: grey;
	}
	.sitemap-header {
		font-weight: bold;
		display: inline-block;
		margin-bottom: 1em;
		margin-top: 2em;
	}